
  <div class="row mt-3">
      <div class="col-md-3 col-sm-2">
 
      </div>
  <div class="col-md-6 col-sm-8 col-12">
     
  <form  #ref="ngForm"  (ngSubmit)="ref.form.valid && onClickOnAddProduct(ref) " >
   
     <div class="mb-1 form-floating">
 
        <input type="text" name="title" id="fn" class="form-control" placeholder="title" ngModel #ref1="ngModel" required autocomplete="off">
         <label for="fn" class="form-label text-white">Title</label>
        
         <p class="text-warning" *ngIf="((ref.submitted || ref1.touched) && ref1.errors?.required)">*title is required</p>
         </div>
        
         <div class="mb-2 form-floating">
 
            <textarea type="text" name="short_description" id="ln" class="form-control" placeholder="short_description" ngModel  #ref3="ngModel" required autocomplete="off"> </textarea>
             <label for="ln" class="form-label text-white">Description</label>
          
             <p class="text-warning" *ngIf="((ref.submitted || ref3.touched) && ref3.errors?.required)">* description is required</p>
             </div>
             <div class="mb-2 form-floating">
 
                <input type="text" name="thumbnail" id="ln" class="form-control" placeholder="thumbnail" ngModel #ref5="ngModel" required autocomplete="off"> 
                 <label for="ln" class="form-label text-white">Thumbnail</label>
              
                 <p class="text-warning" *ngIf="((ref.submitted || ref5.touched) && ref5.errors?.required)">*thumbnail is required</p>
                 </div>
                 <div class="mb-1 form-floating ">
 
                    <input type="text" name="game_url" id="em" class="form-control" placeholder="gameObj.game_url" ngModel  #ref2="ngModel" required autocomplete="off"> 
                     <label for="em" class="form-label text-white">Game Url</label>
                     
                     <p class="text-warning" *ngIf="((ref.submitted || ref2.touched) && ref2.errors?.required)">* Game Url is required</p>
                     </div>
          <button type="submit" class="btn btn-warning d-block mx-auto mt-1 mb-5">Add Product</button>
  </form>
   
 
 
   
  </div>
  <div class="col-md-3 col-sm-2">
 
  </div>
 
 </div>
 
