<h2 class=" text-center mt-3 mb-4" style="color: 		#00aedb">
   Sign Up
</h2>
 <div class="row mt-3">
     <div class="col-md-3 col-sm-2">

     </div>
 <div class="col-md-6 col-sm-8 col-12">
    
 <form  #ref="ngForm" (ngSubmit)="ref.form.valid && onSubmit(ref)" >
  
    <div class="mb-1">

        <label for="fn" class="form-label text-white">User Name</label>
        <input type="text" name="username" id="fn" class="form-control" placeholder="User Name" ngModel #ref1="ngModel" required>
        <p class="text-warning" *ngIf="((ref.submitted || ref1.touched) && ref1.errors?.required)">*Username is required</p>
        </div>
        <div class="mb-1">

            <label for="em" class="form-label text-white">email</label>
            <input type="email" name="email" id="em" class="form-control" placeholder="Email Address" ngModel  #ref2="ngModel" required> 
            <p class="text-warning" *ngIf="((ref.submitted || ref2.touched) && ref2.errors?.required)">* Email is required</p>
            </div>
        <div class="mb-1">

            <label for="ln" class="form-label text-white">Date Of Birth</label>
            <input type="date" name="dob" id="ln" class="form-control" placeholder="dob" ngModel  #ref3="ngModel" required> 
            <p class="text-warning" *ngIf="((ref.submitted || ref3.touched) && ref3.errors?.required)">* Date of birth is required</p>
            </div>
   

 
     <div class="mb-3">
         <label for="pw" class="form-label text-white">password</label>
         <input type="password" name="password" id="pw" class="form-control" placeholder="Password" ngModel  #ref4="ngModel" required>
         <p class="text-warning" *ngIf="((ref.submitted || ref4.touched) && ref4.errors?.required)">* password is required</p>

         </div>

          <input type="file" name="photo" class="form-control mb-2" id="file" (change)="selectFile($event)" ngModel #ref5="ngModel" required>
          <p class="text-warning" *ngIf="((ref.submitted || ref5.touched) && ref5.errors?.required)">*image  is required</p>

         <button type="submit" class="btn btn-warning d-block mx-auto mt-1 mb-5">Sign In</button>
 </form>
  


  
 </div>
 <div class="col-md-3 col-sm-2">

 </div>

</div>
