
<!--carousel-->
<div id="carouselExampleIndicators" class="carousel slide m-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/pic1.jpg" class="d-block w-100" alt="Not available" height=700px;>
    </div>
    <div class="carousel-item">
      <img src="https://www.freetogame.com/g/2/thumbnail.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.freetogame.com/g/16/thumbnail.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="category-cards m-3">
  <div class="row">
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
      <div class="col">
        <div class="card mb-3 bg-steel" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https:\/\/www.freetogame.com\/g\/35\/thumbnail.jpg" alt="not available" width=100% class="m-1">
              <img src="https:\/\/www.freetogame.com\/g\/261\/thumbnail.jpg" alt="Not available" width=100% class="mx-1">
              <img src="https:\/\/www.freetogame.com\/g\/7\/thumbnail.jpg" alt="not available" width=100% class="m-1">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><img src="https://cdn2.iconfinder.com/data/icons/criminal-minds/350/Bullet-Shooting-512.png" alt="Not available" width=45px;> Shoot 'Em Up</h5>
                <p class="card-text">Epic multiplayer battles. Gripping single player stories. The shooter game library at Gaming-Garage has something for every fan of the genre.</p>
                <button class="btn bg-danger">Play</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Row-1 col2 -->
      <div class="col">
        <div class="card mb-3 bg-steel " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https:\/\/www.freetogame.com\/g\/288\/thumbnail.jpg" alt="not available" width=100% class="m-1">
              <img src="https:\/\/www.freetogame.com\/g\/300\/thumbnail.jpg" alt="Not available" width=100% class="mx-1">
              <img src="\/\/www.freetogame.com\/g\/402\/thumbnail.jpg" alt="not available" width=100% class="m-1">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-users"></i> Multiplayer</h5>
                <p class="card-text">Play Your Favorite Games with Your Friends Online! <br>
                  Any multiplayer game in the world can be played online with Gaming-Garage.</p>
                <button class="btn bg-danger">Play</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     



    </div>
  </div>

  <!--ROw 2-->
  <div class="row">
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">

       <!--Row2 col1-->
       <div class="col">
        <div class="card mb-3 bg-steel" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https:\/\/www.freetogame.com\/g\/209\/thumbnail.jpg" alt="not available" width=100% class="m-1">
              <img src="https://www.freetogame.com//g//130//thumbnail.jpg" alt="Not available" width=100% class="mx-1">
              <img src="https://www.freetogame.com//g//157//thumbnail.jpg" alt="not available" width=100% class="m-1">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-running"></i> Sports</h5>
                <p class="card-text">Sports games involve competing against one or more players in tactical challenges that test your precision, accuracy, and strategy. Most sports games are 3D team games like basketball and soccer. Combat sports games like boxing and martial arts are also a top-rated choice. Enjoy the competitive nature of sports without having to do the exercise!</p>
                <button class="btn bg-danger" (click)="sportsGames()">Play</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Row2 Col2-->
      <div class="col">
        <div class="card mb-3 bg-steel" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https:\/\/www.freetogame.com\/g\/47\/thumbnail.jpg" alt="not available" width=100% class="m-1">
              <img src="https:\/\/www.freetogame.com\/g\/255\/thumbnail.jpg" alt="Not available" width=100% class="mx-1">
              <img src="https:\/\/www.freetogame.com\/g\/303\/thumbnail.jpg" alt="not available" width=100% class="m-1">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-lightbulb"></i> Strategy</h5>
                <p class="card-text">Sports games involve competing against one or more players in tactical challenges that test your precision, accuracy, and strategy. Most sports games are 3D team games like basketball and soccer. Combat sports games like boxing and martial arts are also a top-rated choice. Enjoy the competitive nature of sports without having to do the exercise!</p>
                <button class="btn bg-danger">Play</button>
              </div>
            </div>
          </div>
        </div>
      </div>



     
    </div>
  </div>
</div>




